@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ADD responsive code */


/* Branding colors : 
    #F2B949 darker yellow hint of orange - header and footer?
    #EDD377 more of a lighter tan - nice background
    #F2E829  bright yellow
    #F27430  bright orange   

    Branding fonts: 
     font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EDD377;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #010000;
    padding: 20px;
    align-items: center;
}

#main-heading h1 {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 800;
    margin-left: 25px;
}

#menu-button {
    font-size: 28px;
    color: #FFFFFF;
    background-color: #E73725;
    font-weight: 500;

    border: 2px solid #FFFFFF;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 8px rgba(225, 225, 225, 0.7);
    /*change the 0.7 to control the shadow on the box */
}

.auth-wrapper {
    display: flex;
    gap: 25px;
    align-items: center;
}

#log-in {
    font-size: 26px;
    color: #E73725;
    font-weight: 400;
    margin-right: 0px;
}

#sign-up {
    font-size: 26px;
    color: #E73725;
    font-weight: 400;
    margin-right: 0px;
}



.main-content {
    display: flex;
    flex: 1;
}


.sport-image {
    flex: 1;
    background-image: url('.jpg');
    background-size: cover;
}


.buttons-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #F2B949;
    color: black;
    padding: 20px;

}

.footer-about {
    margin-left: 25px;
    margin-right: 30px;

}

.footer-bottom {
    margin-left: 25px;
    font-weight: 400;

}